<div class="container">
  <div class="title">
    <h1 class="text-center">Ready to tick boxes ?</h1>
  </div>

  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Login</h5>
      </div>
      <p class="mb-1">click on the Login in the top of the page</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Register</h5>
      </div>
      <p class="mb-1">Use an account already created using the login and password already defined.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Let's go </h5>
      </div>
      <p class="mb-1">Create, Read, Update, Delete your tasks as many times as you want !</p>
    </a>
  </div>

</div>


